
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Michroma', sans-serif;
	background-color: #262626;
}
.header{
	min-width: 960px;
	width:100%;
	height: 100px;
	background-color: #161616;
	border-bottom: 3px solid #FFC400;
	/*background-image: -webkit-gradient(linear,left top,left bottom,from(#2c2c2c),to(#232323));
	background-image: -webkit-linear-gradient(top,#2c2c2c,#232323);
	background-image: -moz-linear-gradient(top,#2c2c2c,#232323);
	background-image: -ms-linear-gradient(top,#2c2c2c,#232323);
	background-image: -o-linear-gradient(top,#2c2c2c,#232323);
	background-image: linear-gradient(top,#2c2c2c,#232323);*/
}
.header_content{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	color: #00B7FF;
	font-size: 36px;
	line-height: 100px;
}
.header_content img{
	float: right;
	margin-top: -86px;
}
.wrapper{
	width: 960px;
	margin: 100px auto;
	
	
	/*background-color: #E0F0FF;*/
}
.main_nav, #home_content, #events_content, #events_container{
	list-style-type: none;
}

.main_nav li {
	width: 920px;
	height: 10px;
	/*background-color: #616161;*/
	line-height: 10px;
	font-size: 14px;
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	/*color: #D6FF00;*/
	/*border: 1px solid #173035;*/
	margin-top: 10px;
	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;
}
.main_nav_item {
	background-color: #616161;
	color: #D6FF00;
}

.main-active {
	background-color: #00B7FF;
	color:#161616;
}


.main_nav li.main_nav_item:hover{
	background-color: #161616;
}


#home_content, #events_content, #events_container{
	display: none;
	/*height: 75px;*/
/*	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;*/
}
#home_content li, #events_content li{
	width: 880px;
	height: 25px;
	background-color: #262626;
	line-height: 25px;
	font-size: 16px;
	padding: 2px 20px;
	cursor: pointer;
	border-radius: 5px;
	color: #FFC400;
	/*border: 1px solid #173035;*/
	margin: 10px auto 0;
/*	transition:all 0.2s ease-out;
	-webkit-transition:all 0.2s ease-out;*/
}

.event_box{
	height: 90px;
	width: 840px;
	margin: 10px auto;
	padding: 10px 10px 20px;
	background-color: #DBDBDB;
	border-radius: 3px;
	color: #161616;
	font-size: 18px;
	font-weight: bold;
}
.event_months{float: left; width: 80px;}
.event_days{float: left; width: 70px; }
.event_year{float: left; width: 80px; }
.event_location{float: left; width: 260px; }
.event_icon{float: left; width: 80px; }

.update_event, .delete_event, #update_all, #add_event{
	/*width: 60px;*/
	height: 10px;
	background-color: #161616;
	color: #D6FF00;
	cursor: pointer;
	line-height: 10px;
	font-size: 10px;
	font-weight: normal;
	padding: 5px;
	border-radius: 1px;
	margin-top: 15px;
	margin-left: 10px;
	text-align: center;
	/*border: 1px solid #DBDBDB;*/
	float: right;
}
#update_all{margin-top: -35px; margin-right: 50px; background-color: #161616; color:#D6FF00;}
#add_event{margin-top: -35px; margin-right: 138px; background-color: #161616; color:#D6FF00;}

.event_months select, .event_days select, .event_year input, .event_location input, .event_icon select{
	background-color: #161616; 
	color: #FFC400;
	border: none;
}
.event_year input, .event_location input{padding-left: 4px;}
.event_days select{width: 40px; }